<div class="container p-5">
    <div class="row p-5">
        <div class="col-md-12 p-5">
            <div class="error-template text-center ">
                <h1>
                    Oops! Some Thing Went Wrong </h1>
                <h6 class="m-3">
                    <%=error%>                </div>
                </h6>
                <div class="error-details">
                 <div class="error-actions text-center">
                    <a href="/" class="btn btn-primary btn-lg m-3"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a> 
                </div>
            </div>
        </div>
    </div>
</div>